---
---

@import "variables";
@import "nav";
@import "book";

body {
  background: black;
  color: $colour-fg-primary;
  font-family: $font;
}

main {
  margin-top: 65px;
  @media (min-width: $lg) {
    margin-top: 144px;
  }
}

p {
  @media (min-width: $sm) {
    font-size: 1.2rem;
  }
}

.hero {
  background-size: cover;
  background-repeat: no-repeat;

  img {
    max-width: 100%;
  }

  .intro {
    font-size: 1.2rem !important;
  }
}

.tbg-dark {
  background: #00000044;
  border-radius: 5px;
}

.tbg-light {
  background: #ffffff44;
  border-radius: 5px;
}

.img-fit {
  width: 100%;
  height: auto;
}

#hero-index {
  padding-top: 80px;
  margin-top: -80px;
  background-image: url('/img/winter-trees.jpg');
}

#hero-index-2 {
  //background-image: url('/img/rainforest.jpg');
}

.btn-outline-primary {
  color: $colour-fg-nav;
  border-color: $colour-fg-nav;

  &:hover {
    background: $colour-fg-nav;
    color: $colour-bg-secondary;
    border-color: $colour-fg-nav;
  }

    &:focus,
    &:active {
    background: $colour-fg-nav !important;
    color: $colour-bg-secondary !important;
    border-color: $colour-fg-nav !important;
    box-shadow: 0 0 0 0.2rem rgba(239,235,35,.5) !important;
  }
}

footer {
  position: relative;
  border-top: 1px solid $colour-fg-nav;

  &:before {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    padding: 0.5rem 1rem;
    text-align: center;
    top: -1.5rem;
    background: #efe923;
    left: 0;
    right: 0;
    content: "Books";
    border: 1px solid #efe923;
    z-index: 5;
    color: #333;
    font-weight: 700;
    font-size: 19px;
  }
}