---
title: Published Work
---

<div class="container my-4">
    <h2 class="pb-4 pt-5">Published Work</h2>
</div>

<section data-title="Novels" class="py-4">
    <div class="container my-5">

        <div class="row">
            {% include book-desc.html cover="/img/the-parrot-tree.jpg"
                title="The Parrot Tree"
                year="2016 (586 pages)"
                content="An artistic housewife<br>
                    A self-made Madison Avenue Mogul<br>
                    Filming and romance in the Amazon<br>
                    How could Vivien not be swept off her feet?" %}


            {% include book-desc.html
                cover="/img/when-snow-fell.jpg"
                title="When Snow Fell"
                year="2017 (586 pages)"
                content="The aristocratic Brodskys fled the Russian revolution and ended up in rural Oxfordshire. By the 1960s,
                    they are running out of money. Baroness Olga asks the Soviet Union for compensation, and the Kremlin
                    dispatches Comrade Voronov to investigate.<br>

                    Unsolved crimes emerge, and Russian blood runs deep and hot. Love and murder ensue." %}

            {% include book-desc.html
                cover="/img/hotel-belvedere.jpg"
                title="Hotel Belvedere "
                year="2020 (434 pages)"
                content="Hotel Belvedere in Montreux is owned by the Krugers. The pampered guests are unaware of the
                    dramas behind the Belle Epoque décor. Odile, fresh from tending goats in the mountains, becomes a
                    chambermaid.  The Millennium approaches, a storm rages, mysteries surface, but Odile’s alpine
                    good sense sees her through to love." %}
        </div>
    </div>
</section>

<section data-title="Short Stories" class="py-4">
    <div class="container my-5">
        <div class="row">
            {% include book-desc.html
                cover="/img/a-bad-lot.jpg"
                title="A Bad Lot"
                year="2018 (387 pages)"
                content="24 stories, each in a different style, a different place,  showing the frailty that humans
                are capable of. Our vanity, jealousy, sexuality, insecurity and guilt are exposed; our demons are challenged." %}


            {% include book-desc.html
                cover="/img/just-imagine.jpg"
                title="Just Image"
                year="2023 (344 pages)"
                content="9 stories. From the refuse dump sweet music rises, a hungry mountain cavern roars, secrets hide
                in furniture in a hotel corridor, a monk lets himself go." %}

            {% include book-desc.html
                cover="/img/imagine-that.jpg"
                title="Imagine That "
                year="2023 (344 pages)"
                content="9 stories. A dove falls from the Sicilian sky, the  green pullover is a problem, a big-nosed statue is
                    abused, while rats pile up in the bedside table." %}

        </div>
    </div>
</section>
