.nav-container {
  background-color: $colour-bg-secondary;
  border-bottom: 1px solid $colour-fg-nav;
  nav {
    .nav-link {
      font-size: 21px;
      font-weight: 700;
      color: $colour-fg-nav !important;

      &:hover {
        color: $colour-fg-nav-hover !important;
      }
    }
  }

  .logo {
    img {
      width: 238px;

      @media (min-width: $lg) {
        width: 478px;
        transition: all 0.4s ease-in-out;
      }
    }
  }

  .navbar-toggler {
    color: $colour-fg-nav;
    position: absolute;
    top: -36px;
    border-width: 0;

    &:focus,
    &:hover {
      border-width: 0;
      outline: none !important;
    }

    .navbar-toggler-icon {
      vertical-align: baseline;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(239,233,35, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
    }
  }

}

.small-logo {
  .logo {
    img {
      width: 238px;
    }
  }
}
